<br>
<div class="centrar">
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select (valueChange)="onChange($event)" value="todos">
            <mat-option value="comprado">Pagado</mat-option>
            <mat-option value="cancelado">Cancelado</mat-option>
            <mat-option value="pagando">en proceso</mat-option>
            <mat-option value="todos">Todo</mat-option>
        </mat-select>
    </mat-form-field>
    
</div>

<div class="centrar">
    <button class="btn btn-success"  (click)="exporter.exportTable('xlsx')">Exportar</button>
</div>
<div class="mat-elevation-z8 overflow-auto col-md-11 datatable">
    <table matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource" matSort>

        

        <ng-container matColumnDef="Evento">
            <mat-header-cell *matHeaderCellDef> Evento </mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                <p style="cursor: pointer;"> {{
                    elemento.eventoData}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Valor">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{
                ((elemento.value)).toLocaleString('en-US', {
                style: 'currency', currency: 'USD' })}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{

                (elemento.uid.nombre)
               }}
            </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="transaccion">
            <mat-header-cell *matHeaderCellDef>Número de transacción</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.transaccion?.transaction.id}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha de transacción</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{formatFecha(elemento.fecha)}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="celular">
            <mat-header-cell *matHeaderCellDef>Celular</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.uid.telefono}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.uid.email}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cedula">
            <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.uid.numero}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="empresa">
            <mat-header-cell *matHeaderCellDef>Empresa</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.uid.empresa}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="talla">
            <mat-header-cell *matHeaderCellDef>Talla</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.uid.talla}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                {{elemento.codigo}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                <div class="col" *ngIf="elemento.estado==='pagando'"><mat-icon style="cursor: pointer;" (click)="verificar(elemento.link)">cached</mat-icon></div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>

    <mat-paginator [pageSizeOptions]="[5,10,25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<ng-template #template>
    <div class="codigo">
        <img [src]="generateQRCodeBase64(baseSeleccionada)" alt="">
    </div>
</ng-template>