<div>
    <!-- <div class="mensaje_404">
        Este evento se ha cancelado.
    </div> -->
    <div class="row margin">
        <div class="col-md-3">
            <div class="img"><img width="250" src="../../../assets/logo.png" alt=""></div>

        </div>
        <div *ngIf="!formTab" class="col-md-9 pt-3 margin-c">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">DevOpsDays Medellín 2024</h5>
                    <p class="card-text">DevOpsDays es un evento internacional de conferencias técnicas sobre temas de
                        desarrollo de software, operaciones de TI y la intersección entre ellas.



                        Los eventos de DevOpsDays presentan una combinación de talleres y charlas, además de contar con
                        sesiones abiertas y autoorganizadas y espacios para Networking con referentes de la comunidad
                        DevOps, quienes compartirán sus experiencias obtenidas en diferentes organizaciones, países y
                        culturas, presentando casos reales, lecciones aprendidas, éxitos y obstáculos que enfrentan a
                        diario.</p>
                    <div class="row">
                        <div class="col">
                            <p><strong>Ubicacion: </strong>teatro de la Universidad CES, Medellín-Colombia</p>
                        </div>
                        <div class="col">
                            <p><strong>Fecha: </strong>23 y 24 de mayo</p>
                        </div>
                        <div class="col">
                            <p><strong>Hora: </strong>1?</p>
                        </div>
                    </div>
                    <table mat-table [dataSource]="returnKeys()">
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>Tipo</th>
                            <td mat-cell *matCellDef="let price">{{ price }}</td>
                        </ng-container>
                        <ng-container matColumnDef="person">
                            <th mat-header-cell *matHeaderCellDef>Persona por día</th>
                            <td mat-cell *matCellDef="let price">{{ precios[price].persona | currency }}</td>
                        </ng-container>
                        <ng-container matColumnDef="combo">
                            <th mat-header-cell *matHeaderCellDef>5 personas o más por dos días cada una</th>
                            <td mat-cell *matCellDef="let price">{{ precios[price].combo*2 | currency }}</td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="['type', 'person', 'combo']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['type', 'person', 'combo'];"></tr>
                    </table>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">Compra tu entrada:</h6>

                    <br>
                    <div class="center">
                        <button (click)="comprar()" class="get">¡Adquiere tu Ticket ahora!</button>
                    </div>

                </div>

            </div>

        </div>
        <div *ngIf="formTab" class="col-md-9 pt-3 margin-c">

            <div class="card mx-auto">
                <div class="card-body">
                    <br>
                    <mat-icon style="cursor: pointer;" (click)="comprar()">arrow_back</mat-icon>
                    <div class="center">
                        <div>
                            <table mat-table [dataSource]="returnKeys()">
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                                    <td mat-cell *matCellDef="let price">{{ price }}</td>
                                </ng-container>
                                <ng-container matColumnDef="person">
                                    <th mat-header-cell *matHeaderCellDef>Persona por día</th>
                                    <td mat-cell *matCellDef="let price">{{ precios[price].persona | currency }}</td>
                                </ng-container>
                                <ng-container matColumnDef="combo">
                                    <th mat-header-cell *matHeaderCellDef>5 personas o más por dos días cada una</th>
                                    <td mat-cell *matCellDef="let price">{{ precios[price].combo*2 | currency }}</td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="['type', 'person', 'combo']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['type', 'person', 'combo'];"></tr>
                            </table>
                            <br>
                            <div class="center">
                            <form [formGroup]="personForm">
                                <mat-form-field>
                                    <input matInput type="number" formControlName="numberOfPeople"
                                        placeholder="Número de personas">
                                </mat-form-field>
                                <br>
                                <h6>Elije la fecha de asistencia</h6>
                                <mat-checkbox formControlName="may23">23 de mayo</mat-checkbox>
                                <br>
                                <mat-checkbox formControlName="may24">24 de mayo</mat-checkbox>
                                <br>
                                <div class="center">
                                    <button [disabled]="disabled" (click)="pagar()" class="get">Pagar</button>
                                </div>
                            </form>
                        </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>