<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div class="main" *ngIf="!spinner">
  <div class="close" (click)="redirect()"><mat-icon>close</mat-icon></div>
  <div class="container">
    <div class="form">
      <div class="thumbnail">
        <img src="../../../assets/logo.png" alt="Thumbnail">
      </div>
      <form [formGroup]="formularioSignUp" class="register-form" *ngIf="iniciarSesion">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Nombre completo</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col tipo">
            <mat-form-field>
              <mat-label>Tipo de documento</mat-label>
              <mat-select formControlName="tipoCedula">
                <mat-option value="cedula">Cédula ciudadanía</mat-option>
                <mat-option value="extranjería">Cédula extranjería</mat-option>
                <mat-option value="tarjeta">Tarjeta de identidad</mat-option>
                <mat-option value="pasaporte">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Número</mat-label>
              <input type="number" matInput formControlName="numero">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Número de teléfono/celular</mat-label>
              <input type="number" matInput formControlName="telefono">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Talla de camisa</mat-label>
              <mat-select formControlName="talla">
                <mat-option value="s">s</mat-option>
                <mat-option value="m">m</mat-option>
                <mat-option value="l">l</mat-option>
                <mat-option value="xl">xl</mat-option>
                <mat-option value="xxl">xxl</mat-option>
                <mat-option value="xxxl">xxxl</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Ciudad</mat-label>
              <input type="text" matInput formControlName="ciudad">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Empresa</mat-label>
              <input type="text" matInput formControlName="empresa">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Cargo</mat-label>
              <input type="text" matInput formControlName="cargo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Correo</mat-label>
              <input type="email" matInput formControlName="correo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col tratamiento-datos">
            <mat-checkbox formControlName="tratamientoDatos">
              Acepto el tratamiento de mis datos personales
            </mat-checkbox>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col consentimiento-ofertas">
            <div class="agradecimiento-ofertas">
              <p>¡Gracias por registrarte en DevOpsDays Medellín 2024!</p>
              <p>Nos encantaría consentirte con increíbles beneficios y oportunidades exclusivas. Al hacer clic en "Opt-In", aceptas recibir ofertas especiales de nuestros colaboradores, incluyendo vouchers de certificación, accesos gratuitos a plataformas, y otras sorpresas tecnológicas.</p>
              <p>¡No te pierdas esta oportunidad de potenciar tu carrera! Opta por recibir estas oportunidades exclusivas y prepárate para llevar tus habilidades al siguiente nivel.</p>
            </div>
            <mat-checkbox formControlName="optIn">
              Sí, quiero aprovechar estas ofertas especiales y beneficios exclusivos.
            </mat-checkbox>
          </div>
        </div>
      <br><hr>
        <button *ngIf="!disabled" class="submit" type="submit" (click)="registro()">Registrarse</button>
        <button *ngIf="disabled" class="disabled" type="submit">Registrarse</button>
        <p class="message">¿Ya tienes cuenta? <a (click)="switch('registrarse')" style="cursor: pointer;">Inicia
            sesión</a></p>
      </form>
      <form [formGroup]="formularioLogin" class="login-form" *ngIf="registrarse">
        <div class="row">
          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="correo">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Cédula</mat-label>
            <input type="password" matInput formControlName="contrasena">
          </mat-form-field>
        </div>
        <button class="submit" type="submit" (click)="iniciar()">Iniciar Sesión</button>
        <p class="message">¿No te has registrado? <a (click)="switch('iniciarSesion')" style="cursor: pointer;">Create
            una cuenta</a></p>
      </form>
    </div>
  </div>
</div>